### Problem Statement: 

* While searching for the dream house, the buyer looks at various factors, not just the height of the basement ceiling or the proximity to an east-west railroad.

* Using the dataset, find the factors that influence price negotiations while buying a house.
* There are 79 explanatory variables describing every aspect of residential homes in Ames, Iowa.

#### Importing the required Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
# warnings.filterwarnings('ignore')

#### Importing dataset

In [2]:
df=pd.read_csv(r"E:\Projects\In Progress\Feature Engineering\PEP1.csv")

#### Checking the dataset

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1251,1252,120,RL,NaN,3136,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,171750
521,522,20,RL,90.0,11988,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,150000
1439,1440,60,RL,80.0,11584,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,197000
1011,1012,90,RL,75.0,9825,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,100000
1035,1036,20,RL,NaN,11500,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2009,WD,Normal,84000

#### Name of the columns

In [5]:
print(df.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'Bedroom', 'Kitchen', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

#### Shape of the dataset (Rows x Columns)

In [ ]:
df.shape

### Missing Values

In [6]:
df.isna().sum()/df.shape[0]*100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [8]:
df.isna().sum()[df.isna().sum()>0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

#### Printing the unique Values

In [7]:
print(df.nunique())

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
                 ...
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

#### Column information and DataTypes

In [ ]:
df.info()

#### Describing the Dataset

In [ ]:
df.describe().T

In [ ]:
pd.set_option('display.max_columns',500)
df.corr()

In [ ]:
plt.figure(figsize=(10,12))
sns.heatmap(df.corr(),vmax=1,vmin=-1)
plt.show()

## Performing EDA

#### Bifurcate the numerical columns and Catagorical columns

In [ ]:
numerical_columns=[]
object_type=[]
for col in df.columns:
    if df[col].dtype == 'int64':
        numerical_columns.append(col)
    elif df[col].dtype=='float64' :
        numerical_columns.append(col)
    else:
        object_type.append(col)
        
print('The Numerical variable columns are: ','\n\t',numerical_columns)
print('\n')
print('The Object type variable columns are','\n\t',object_type)

### Dividing the Dataset into 2 different Dataframe 

* df1 is for numerical data 
* df2 is for Object type data

In [ ]:
df1=df[['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'Bedroom', 'Kitchen', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice']]

In [ ]:
df2=df[['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']]

In [ ]:
df2

### Treating Missing Values

In [ ]:
df1.isna().sum()

In [ ]:
df['LotFrontage'].value_counts()

In [ ]:
df1['LotFrontage'].isna().sum()

In [ ]:
df1['LotFrontage']=df1['LotFrontage'].fillna(df1['LotFrontage'].mean())

In [ ]:
df1['GarageYrBlt'].value_counts()

In [ ]:
df1['GarageYrBlt'].isna().sum()

In [ ]:
df1['GarageYrBlt']=df1['GarageYrBlt'].fillna(df1['GarageYrBlt'].mean())

In [ ]:
df1['MasVnrArea']=df1['MasVnrArea'].fillna(df1['MasVnrArea'].mean())

In [ ]:
df1.isna().sum()

In [ ]:
df2.shape

In [ ]:
df2.isna().sum()/df2.shape[0]*100 # removing the columns which values are missing more than 80%

In [ ]:
col_to_drop=['Alley','MiscFeature','Fence','PoolQC']

In [ ]:
df2=df2.drop(columns=col_to_drop,axis=1)

In [ ]:
df2.shape

In [ ]:
df2.isna().sum()[df2.isna().sum()>0]

In [ ]:
df2['FireplaceQu'].value_counts()

In [ ]:
df2['BsmtCond'].mode()

In [ ]:
df2['FireplaceQu']=df2['FireplaceQu'].fillna('Not Mentioned')

In [ ]:
df2['MasVnrType']=df['MasVnrType'].fillna(df['MasVnrType'].mode()[0])
df2['BsmtQual']=df['BsmtQual'].fillna(df['BsmtQual'].mode()[0])
df2['BsmtCond']=df['BsmtCond'].fillna(df['BsmtCond'].mode()[0])
df2['BsmtExposure']=df2['BsmtExposure'].fillna(df2['BsmtExposure'].mode()[0])
df2['BsmtFinType1']=df2['BsmtFinType1'].fillna(df2['BsmtFinType1'].mode()[0])
df2['BsmtFinType2']=df2['BsmtFinType2'].fillna(df2['BsmtFinType2'].mode()[0])
df2['Electrical']=df2['Electrical'].fillna(df2['Electrical'].mode()[0])
df2['GarageType']=df2['GarageType'].fillna(df2['GarageType'].mode()[0])
df2['GarageFinish']=df2['GarageFinish'].fillna(df2['GarageFinish'].mode()[0])
df2['GarageQual']=df2['GarageQual'].fillna(df2['GarageQual'].mode()[0])
df2['GarageCond']=df2['GarageCond'].fillna(df2['GarageCond'].mode()[0])

In [ ]:
df2.isna().sum()

In [ ]:
df1

In [ ]:
df2

In [ ]:
df=pd.concat([df1,df2],axis=1)

In [ ]:
df

In [ ]:
df.isna().sum()[df.isna().sum()>0]

In [ ]:
df.isna().apply(pd.value_counts).T

In [ ]:
### Checking the Correlation

In [ ]:
correlation=df.corr()

In [ ]:
plt.figure(figsize=(30,30))
sns.heatmap(correlation,annot=True,cmap='Blues',fmt='.1G',vmax=1,vmin=-1)
plt.show()

In [ ]:
len(correlation.columns)

In [ ]:
### Data Analysis of catagorical Data

In [ ]:
df2

In [ ]:
df2['MSZoning'].value_counts()

In [ ]:
df2['Street'].value_counts()

In [ ]:
for i in df2.columns:
        print(df2[i].value_counts(),end='\n----------------------\n')

In [ ]:
df.shape

### Preparing the data for Train and Test

In [ ]:
df.drop('Id',axis=1,inplace=True)

In [ ]:
df['Condition2'].replace('RRAn','RRAe',inplace=True)

In [ ]:
x=df.drop('SalePrice',axis=1)

In [ ]:
x

In [ ]:
y=df.iloc[:,36:37]

In [ ]:
y

### Spliting the dataset into train and test using sklearn Library

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=.30)

In [ ]:
print(x_train.shape)

In [ ]:
print(x_test.shape)

In [ ]:
print(y_train.shape)

In [ ]:
print(y_test.shape)

### Converting catagorical variable by using one-hot encoding

In [ ]:
df2.columns

In [ ]:
'MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'

In [ ]:
categ_col=['MSZoning','Street','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','SaleType','SaleCondition']

In [ ]:
df2.nunique().count()

In [ ]:
340-39

In [ ]:
x_train

In [ ]:
from sklearn.preprocessing import OneHotEncoder

oh=OneHotEncoder(sparse=False,drop='first')

In [ ]:
oh.fit(x_train[categ_col])

In [ ]:
x_train_transform=oh.transform(x_train[categ_col])

In [ ]:
x_train_transform.shape

In [ ]:
x_test[categ_col]

In [ ]:
x_test_transform=oh.transform(x_test[categ_col])

In [ ]:
x_test['RoofMatl'].value_counts()

In [ ]:
df1.corr()['SalePrice']

In [ ]:
df1.corr()['SalePrice'][df1.corr()['SalePrice']>0.2].count()

In [ ]:
df1.corr()['SalePrice'][df1.corr()['SalePrice']<-0.08]

In [ ]:
len(df2.columns)